////////////////////////////////////////////
///// 		INDEX.HTML
///////////////////////////////////////////////
// scss file for index.html

// SOLAR SYSTEM  ------------------------------------------------

section.solarSystem {
	// shall we position everything relative to the solar system section?
	position: relative;

	// we want it to spread to the full width of the page and have a height equal to the view port
	width: 100%;
	height: 100vh;

	// it shall have a black background
	background: black;

	// border: 5px solid black;
}

// // END SOLAR SYSTEM ------------------------------------------------



// PLANET THUMBNAILS  ------------------------------------------------
// the planet thumbnails are the tiny planet images that the user first sees upon page load up... they click those images and the correct modal pops up

section.planetThumbs {
	// we must position the sun in the centre of the solar system
	// expand section.sun parent to full size of screen and use flexbox
	width: 100%;
	height: 100vh;

	//flexbox
	@include flexboxColumn1;
	justify-content: center;
}

section.planetThumbs section.sun {
	// section.sun must be position relative so that we can position the planets relative to its location
	// position: relative;
	// don't need this since we want to set everything relative to section.solarSystem

	img {
		border-radius: 50%;
	}

	img.solarSun {
		// testing
		border: 5px ridge orange;
	}
}

// set all planets to position absolute... relative to its parent section.sun
section.planetThumbs section.sun .planet {
	position: absolute;
}

// set the positions of the individual planets
// use Chrome Element Inspector in Sidebar vertical mode instead of horizontal mode otherwise the vertical alignments with the Sun will be off

// stagger value
// default value is 2%
$planet_vertical_stagger: 6%;

// MERCURY
section.planetThumbs .mercury {
	// top: 30%;
	// left: 53%;
	// values with direct alignment with the Sun
	top: 48%;
	left: 49%;
	// values with some vertical stagger
	top: 48%+$planet_vertical_stagger;
	left: 49%;
	// values from original though aligned along the vertical axis
	top: 30%;
	left: 49%;

	img {
		border: 2px solid red;
		width:30px;
	}
}

// VENUS
section.planetThumbs .venus {
	// top: 48%;
	// left: 71%;
	// top: 50%;
	// left: 48%;
	// values with direct alignment with the Sun
	top: 45%;
	left: 47%;
	// values with some vertical stagger
	top: 45%+$planet_vertical_stagger;
	left: 47%;
	// values from original though aligned along the vertical axis
	top: 48%;
	left: 47%;

	img {
		border: 2px solid purple;
		width: 75px;
	}
}

// EARTH
section.planetThumbs .earth {
	// top: 22%;
	// left: 69%;
	// top: 59%;
	// left: 48%;
	// values with direct alignment with the Sun
	top: 46%;
	left: 47%;
	// values with some vertical stagger
	top: 46%+$planet_vertical_stagger;
	left: 47%;
	// values from original though aligned along the vertical axis
	top: 22%;
	left: 47%;

	img {
		border: 2px solid green;
		width: 75px;
	}
}

// MARS
section.planetThumbs .mars {
	// top: 31%;
	// left: 79%;
	// top: 65%;
	// left: 48%;
	// values with direct alignment with the Sun
	top: 47%;
	left: 47%;
	// values with some vertical stagger
	top: 47%+$planet_vertical_stagger;
	left: 47%;
	// values from original though aligned along the vertical axis
	top: 31%;
	left: 47%;

	img {
		border: 2px solid crimson;
		width: 80px;
	}
}

// JUPITER
section.planetThumbs .jupiter {
	// top: 21%;
	// left: 89%;
	// top: 69%;
	// left: 46%;
	// values with direct alignment with the Sun
	top: 41%;
	left: 44%;
	// values with some vertical stagger
	top: 41%+$planet_vertical_stagger+7%;
	left: 44%;
	// values from original though aligned along the vertical axis
	top: 21%;
	left: 44%;

	img {
		border: 2px solid orange;
		width: 150px;
	}
}


// // END PLANET THUMBNAILS ------------------------------------------------

// MODAL BOXES  ------------------------------------------------
// the modal boxes holds all the modal box html data that we reveal depending on which planet thumbnail image is clicked

// this holds all of the modal entries
section.modalBoxes {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;

	// set z-index so that it is above the planets (thumbnails) in the background
	// increase z-index when it is made visible?
	z-index: -10;

	// OR
	
	// DEFAULT DISPLAY STATE
	// this must come after flexbox
	display:none;

	//flexbox to make all of the modal entries centred...
	//this section will need a set height for vertical alignment??
	@include flexboxColumn1;

	background: $spaceShade1;
}

// for design testing purposes make all other modalBox sections disappear while we stile the first one
// once finished styling the first one we also make the first modalBox disappear
section.modalBoxes section:first-child ~ section {
	display: none;
}

// this styles the modal entries
section.modalBoxes section.modal {
	// this is the parent of .frame and .text
	// we want to flexbox these beside each other
	@include flexboxRow1;
	justify-content: space-between;
	align-content: space-between;
	align-items: flex-start; // we want the tops to align


	// DEFAULT DISPLAY STATE
	// this must come after flexbox
	display:none;

	// set the section.modal "entry" to position relative so we can align the close button
	position: relative;

	.frame {
		// if flex isn't supported
		float: left;

		//flex child
		flex: 1 50%;
		
		//flexbox... to centre the image if needed?
		@include flexboxColumn1;
		
		img {
			float: left;
			max-width: 100%;
		}
	}

	.text {
		// if flex isn't supported
		float: right;

		//flex child
		flex: 1 50%;

		padding: 2%;

		color: white;
	}

	span.fa.fa-close {
		color:white;

		position: absolute;
		top: 0;
		right:0;

		cursor:pointer;

		border: 3px solid white;
		padding: 0.5%;

		@include transitionEffectAllEaseIn(0.5s);

		&:hover {
			color: orange;
			border: 3px solid orange;
		}
	}
}

// // END MODAL BOXES ------------------------------------------------



///////////////////////////////////////////////
///// 		END INDEX.HTML
///////////////////////////////////////////////