extends index.layout.030215.1.jade

block content

	////////////////////////////////////////////
	// 		INDEX.HTML
	//////////////////////////////////////////
	
	// WARNING:  images that are bigger than 200kb will slow this site down like crazy

	// SOLAR SYSTEM
	// all positioning is set relative to section.solarSystem
	section.solarSystem
		////////////////////////////////////////////
		// 		PLANET THUMBNAILS
		///////////////////////////////////////////
		
		section.planetThumbs.clearfix
			// ...................THE SUN...................
			+planetThumbnail1('sun')
				section(class='sun').clearfix
					.frame
						.image
							img(src="http://lorempixel.com/200/200", alt="Image Placeholder").solarSun
					// indent the remaining planets to be children of section.sun so that you can position them relative to section.sun
					// ...................MERCURY...................
					+planetThumbnail1('planet mercury')
					// ...................END MERCURY...................
					// ...................VENUS...................
					+planetThumbnail1('planet venus')
					// ...................END VENUS...................
					// ...................EARTH...................
					+planetThumbnail1('planet earth')
					// ...................END EARTH...................
					// ...................MARS...................
					+planetThumbnail1('planet mars')
					// ...................END MARS...................
					// ...................JUPITER...................
					+planetThumbnail1('planet jupiter')
					// ...................END JUPITER...................

		////////////////////////////////////////////
		// 		END PLANET THUMBNAILS
		////////////////////////////////////////////
		
		////////////////////////////////////////////
		// 		MODAL BOXES
		///////////////////////////////////////////
		
		section.modalBoxes.clearfix
			// ...................SUN........................
			+modalBox1('modal sun','Sun')
			// ...................END SUN...................
			// ...................MERCURY...................
			+modalBox1('modal mercury','Mercury')
			// ...................END MERCURY...................
			// ...................VENUS...................
			+modalBox1('modal venus','Venus')
			// ...................END VENUS...................
			// ...................EARTH...................
			+modalBox1('modal earth','Earth')
			// ...................END EARTH...................
			// ...................MARS...................
			+modalBox1('modal mars','Mars')
			// ...................END MARS...................
			// ...................JUPITER...................
			+modalBox1('modal jupiter','Jupiter')
			// ...................END JUPITER...................

		////////////////////////////////////////////
		// 		END MODAL BOXES
		////////////////////////////////////////////

		

	// END SOLAR SYSTEM

	////////////////////////////////////////////
	// 		END INDEX.HTML
	////////////////////////////////////////////