extends index.layout.030215.1.jade

block content

	////////////////////////////////////////////
	// 		INDEX.HTML
	//////////////////////////////////////////
	
	// WARNING:  images that are bigger than 200kb will slow this site down like crazy

	section.solarSystem
		section.planetThumbs.clearfix
			+planetThumbnail1('sun')
				section(class='sun').clearfix
					.frame
						.image
							img(src="http://lorempixel.com/200/200", alt="Image Placeholder").solarSun
					// indent the remaining planets to be children of section.sun so that you can position them relative to section.sun
					+planetThumbnail1('planet mercury')
					+planetThumbnail1('planet venus')
					+planetThumbnail1('planet earth')
					+planetThumbnail1('planet mars')
					+planetThumbnail1('planet jupiter')

		section.modalBoxes.clearfix
			+modalBox1('modal sun','Sun')
			+modalBox1('modal mercury','Mercury')
			+modalBox1('modal venus','Venus')
			+modalBox1('modal earth','Earth')
			+modalBox1('modal mars','Mars')
			+modalBox1('modal jupiter','Jupiter')

	////////////////////////////////////////////
	// 		END INDEX.HTML
	////////////////////////////////////////////